div.songList

	div.songs

	div.controls

		h3 Song Link
		input#songLink(type="text" placeholder="Paste a Song URL from Soundcloud Here")

		h3 Message
		input#message(type="text" placeholder="Add a message to your post")

		a#postSong(href='#' onclick='postSong()') Post Song

div.chatWindow

	div.chatSection

	div.chatBox

		input#chatBox(type="text" placeholder="Send a Message")

		a#chatSubmit(href='#' onclick='sendMessage()') Send