div.signUpForm
    p User Name
    input#userNameSignUp(type='text')
    p Password
    input#passwordSignUp(type='password')
    p Twitter Handle
    input#twitterSignUp(type='text')
    a#signUpConfirm(href='#' onclick='signUpSubmit()') Sign Up